---
import { Icon } from 'astro-icon/components';
import Carousel from '../UI/Carousel.tsx';
---

<div class="bg-[url('/images/Simple_Shiny.svg')]
  bg-center md:bg-cover
  h-hero">
  <section class="hero relative">
    <div class="hero-content justify-center flex-col relative z-30 px-4">
      <div class="flex w-full flex-col lg:flex-row items-center gap-12 lg:gap-24 mb-12">
        <div class="max-w-3xl">
          <h1
            class="text-center lg:text-left text-5xl md:text-6xl lg:text-7xl font-bold leading-tight mb-6"
          >
            Clases en vivo de
            <span class="text-primary relative border-b-4 border-primary"> Excelencia.</span>
          </h1>

          <p class="text-xl text-center lg:text-left lg:text-2xl mb-8 leading-relaxed max-w-3xl">
            Aprende mediante sesiones grupales o personales, con foco a desarrollar herramientas
            para que rindas tus exámenes de la mejor forma posible. <span
              class="font-semibold
            text-primary">¡Salva tu ramo ahora!</span
            >
          </p>

          <div class="flex flex-col sm:flex-row gap-4">
            <button class="btn lg:btn-wide btn-lg btn-primary border-none text-lg px-8 py-4 h-auto">
              Busca tu curso!
            </button>
            <button class="btn btn-lg btn-soft btn-primary text-lg px-8 py-4 h-auto">
              Ver Reseñas
            </button>
          </div>
        </div>
        <Carousel client:load />
      </div>

      <!-- Stats -->
      <div class="flex md:flex-row flex-col justify-around gap-8">
        <div class="flex items-center gap-3">
          <div class="flex items-center h-full gap-3">
            <Icon name="mdi:book-open-variant" size={64} class="text-primary" />
          </div>
          <div>
            <div class="text-3xl font-bold">+20</div>
            <div class="w-32">Cursos impartidos</div>
          </div>
        </div>

        <div class="flex items-center gap-3 justify-start">
          <div class="flex items-center h-full gap-3">
            <Icon name="mdi:user-group" size={64} class="text-primary" />
          </div>
          <div>
            <div class="text-3xl font-bold">+100</div>
            <div class="w-32">Estudiantes por semestre</div>
          </div>
        </div>

        <div class="flex items-center gap-3">
          <div class="flex items-center h-full gap-3">
            <Icon name="mdi:refresh-circle" size={64} class="text-primary" />
          </div>
          <div>
            <div class="text-3xl font-bold">+80%</div>
            <div class="w-32">Volvió a confiar en nosotros</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
