---
import { Icon } from 'astro-icon/components';
---

<div class="bg-base-200">
  <!-- Stats Section -->
  <section class="flex flex-col justify-around items-center px-4 py-12 gap-8">
    <h2 class="py-4 text-4xl font-bold text-primary">Hemos logrado grandes resultados</h2>
    <div class="flex flex-col gap-12 lg:flex-row justify-around w-full">
      <div class="flex items-center gap-3" data-usal="fade-l">
        <div class="flex items-center h-full gap-4 py-4">
          <Icon name="mdi:book-open-variant" size={64} class="text-primary" />
        </div>
        <div>
          <div class="text-3xl font-bold">+<span data-usal="count-[20]">20</span></div>
          <div class="w-32">Cursos impartidos</div>
        </div>
      </div>

      <div class="flex items-center gap-3" data-usal="fade-u delay-[200]">
        <div class="flex items-center h-full gap-3">
          <Icon name="mdi:user-group" size={64} class="text-primary" />
        </div>
        <div>
          <div class="text-3xl font-bold">+ <span data-usal="count-[100]">100</span></div>

          <div class="w-32">Estudiantes por semestre</div>
        </div>
      </div>

      <div class="flex items-center gap-3" data-usal="fade-r delay-[400]">
        <div class="flex items-center h-full gap-3">
          <Icon name="mdi:refresh-circle" size={64} class="text-primary" />
        </div>
        <div>
          <div class="text-3xl font-bold">~<span data-usal="count-[80]">80</span>%</div>
          <div class="w-32">Volvi칩 a confiar en nosotros</div>
        </div>
      </div>
    </div>
  </section>
</div>
--- import {Icon} from 'astro-icon/components'; ---

<div class="bg-base-200">
  <!-- Stats Section -->
  <section class="flex flex-col justify-around items-center px-4 py-12 gap-8">
    <h2 class="py-4 text-4xl font-bold text-primary">Hemos logrado grandes resultados</h2>
    <div class="flex flex-col gap-12 lg:flex-row justify-around w-full">
      <div class="flex items-center gap-3 justify-center" data-usal="fade-l">
        <div class="flex items-center h-full gap-4 py-4">
          <Icon name="mdi:book-open-variant" size={64} class="text-primary" />
        </div>
        <div>
          <div class="text-3xl font-bold">+<span data-usal="count-[6]">6</span></div>
          <div class="w-32">a침os de experiencia</div>
        </div>
      </div>

      <div class="flex items-center gap-3 justify-center" data-usal="fade-u delay-[200]">
        <div class="flex items-center h-full gap-3">
          <Icon name="mdi:user-group" size={64} class="text-primary" />
        </div>
        <div>
          <div class="text-3xl font-bold">+ <span data-usal="count-[500]">500</span></div>

          <div class="w-32">Estudiantes acompa침ados</div>
        </div>
      </div>

      <div class="flex items-center gap-3 justify-center" data-usal="fade-r delay-[400]">
        <div class="flex items-center h-full gap-3">
          <Icon name="mdi:refresh-circle" size={64} class="text-primary" />
        </div>
        <div>
          <div class="text-3xl font-bold">~<span data-usal="count-[80]">80</span>%</div>
          <div class="w-32">Volvi칩 a confiar en nosotros</div>
        </div>
      </div>
    </div>
  </section>
</div>
