<ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
  <li>
    <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-4 w-4 sm:h-5 sm:w-5"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"></path>
      </svg>
    </div>
    <div class="timeline-start mb-6 sm:mb-8 md:mb-10 md:text-end px-2 sm:px-4">
      <time class="font-mono italic text-sm sm:text-base">2019</time>
      <div class="text-base sm:text-lg font-black text-primary">Ayudantías y Clases</div>
      <p class="text-sm sm:text-base">
        Éramos ayudantes de estudiantes de ingeniería de los principales ramos de ingeniería. Pero
        notamos que el formato de las ayudantías no lograba que los estudiantes entendieran como
        enfrentar las pruebas de manera efectiva.
      </p>
    </div>
    <hr class="bg-primary" />
  </li>
  <li>
    <hr class="bg-primary" />
    <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-4 w-4 sm:h-5 sm:w-5"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"></path>
      </svg>
    </div>
    <div class="timeline-end mb-6 sm:mb-8 md:mb-10 px-2 sm:px-4">
      <time class="font-mono italic text-sm sm:text-base">2020</time>
      <div class="text-base sm:text-lg font-black text-primary">Clases particulares</div>
      <p class="text-sm sm:text-base">
        Carlos Saéz inicia clases particulares de forma independiente, enfocándose en ayudar a
        estudiantes de ingeniería a enfrentar las pruebas de manera efectiva para lograr los mejores
        resultados.
      </p>
    </div>
    <hr class="bg-primary" />
  </li>
  <li>
    <hr class="bg-primary" />
    <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-4 w-4 sm:h-5 sm:w-5"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"></path>
      </svg>
    </div>
    <div class="timeline-start mb-6 sm:mb-8 md:mb-10 md:text-end px-2 sm:px-4">
      <time class="font-mono italic text-sm sm:text-base">2024</time>
      <div class="text-base sm:text-lg font-black text-primary">Salva Ramos</div>
      <p class="text-sm sm:text-base">
        Se crea Salva Ramos, Carlos invita a alumnos y ex-ayudantes a crear material de estudio que
        apunte a las necesidades de los estudiantes. El catálogo de clases crece y las modalidades
        de clases se diversifican para adaptarse a las necesidades de los estudiantes.
      </p>
    </div>
    <hr class="bg-primary" />
  </li>
  <li>
    <hr class="bg-primary" />
    <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-4 w-4 sm:h-5 sm:w-5"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"></path>
      </svg>
    </div>
    <div class="timeline-end mb-6 sm:mb-8 md:mb-10 px-2 sm:px-4">
      <time class="font-mono italic text-sm sm:text-base">2025</time>
      <div class="text-base sm:text-lg font-black text-primary">salvaramos.cl</div>
      <p class="text-sm sm:text-base">
        Seguimos creciendo y creamos nuestra plataforma en línea que conecta a estudiantes con
        profesores particulares de diversas materias, facilitando el acceso a nuestro estudiantes.
      </p>
    </div>
    <hr class="bg-primary" />
  </li>
  <li>
    <hr class="bg-primary" />
    <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-5 w-5"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"></path>
      </svg>
    </div>
    <div class="timeline-start mb-10 md:text-end">
      <time class="font-mono italic">Pronto</time>
      <div class="text-lg font-black">Continuaremos innovando</div>
      Seguiremos mejorando nuestra plataforma, incorporando nuevas funcionalidades y recursos para ofrecer
      la mejor experiencia de aprendizaje. Más profesores, más materias y más estudiantes con ramos superados.
    </div>
  </li>
</ul>
