@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url('/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.woff2') format('woff2');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 200 800;
  font-display: swap;
  src: url('/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Italic-VariableFont_wght.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Gebuk';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/gebuk/Gebuk-Regular.woff2') format('woff2');
}

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-display: 'Plus Jakarta Sans', ui-sans-serif, system-ui, sans-serif;
  --font-gebuk: 'Gebuk', ui-sans-serif, system-ui, sans-serif;
}

@plugin "daisyui" {
  themes: light --default;
}
@plugin '@tailwindcss/typography';
@import 'react-day-picker/style.css';
@import '@splidejs/react-splide/css';
@import '@splidejs/react-splide/css/core';

@plugin "daisyui/theme" {
  name: 'fantasy';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-white: #f9f6ee;
  --color-base-100: #f9f6ee;
  --color-base-200: oklch(0.8647 0.0272 80.24);
  --color-base-300: oklch(87% 0.006 286.286);
  --color-base-content: oklch(0.2134 0 0);
  --color-primary: oklch(0.3517 0.0489 147.41);
  --color-primary-content: oklch(0.8647 0.0272 80.24);
  --color-secondary: oklch(0.3072 0.12587 28.7629);
  --color-secondary-content: oklch(0.8647 0.0272 80.24);
  --color-accent: oklch(0.8647 0.0272 80.24);
  --color-accent-content: oklch(15.196% 0.04 56.72);
  --color-neutral: oklch(0.2244 0.1242 265.6);
  --color-neutral-content: oklch(0.8647 0.0272 80.24);
  --color-dark-blue: oklch(0.2254 0.1392 264.18);
  --color-info: oklch(72.06% 0.191 231.6);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(64.8% 0.15 160);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(71.76% 0.221 22.18);
  --color-error-content: oklch(0% 0 0);
  --color-nav-link: oklch(0.4216 0.0055 270.74);
  --color-nav-link-active: oklch(0.6924 0.0217 146.65);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@layer base {
  html {
    @apply w-full overflow-x-hidden;
  }

  body {
    @apply text-base-content bg-base-200 min-h-[var(--app-dvh)] w-full overflow-x-hidden pt-[env(safe-area-inset-top)] pb-[env(safe-area-inset-bottom)] font-sans antialiased;
  }

  section {
    @apply container mx-auto;
  }

  .line-clamp-4 {
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

[data-navlink] {
  @apply text-base-content;
}

[data-navlink].active {
  @apply text-primary font-semibold;
}

[data-navlink]:not(.active) {
  @apply hover:text-primary/80;
}

@utility h-navbar {
  height: 4.5rem;
}

@utility h-hero {
  min-height: max(24rem, calc(var(--app-dvh) - 4rem)); /* Nunca menos de 24rem */
  margin-top: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 1024px) {
  .h-hero {
    min-height: calc(var(--app-dvh) - 4rem);
    padding-bottom: 0;
  }
}

:root {
  --app-dvh: 100vh;
}
@supports (height: 100dvh) {
  :root {
    --app-dvh: 100dvh;
  }
}
