---
import Layout from '../layouts/Layout.astro';
import CalendarTemplate from '../components/calendar/CalendarTemplate.tsx';
---

<Layout>
  <div id="spa-root" class="flex items-center justify-center">
    <div class="flex flex-col max-w-[90wh] min-w-7xl">
      <div class="h-[10vh] min-h-[10vh] flex flex-col px-8 py-4">
        <h1 class="text-primary font-bold text-3xl tracking-wide">Booking</h1>
        <p>Agenda tus horarios disponibles para las clases que e speras agendar</p>
      </div>
      <div class="shadow-xl min-h-[90vh] max-h-[90vh] overflow-hidden">
        <CalendarTemplate client:load />
      </div>
    </div>
  </div>
</Layout>
